@media only screen and (max-width:1020px){
    input{
        width:20%;
        margin-left: 1px;
    }
    #total{
        font-size: 80%;
    }
    #check{
        padding-left: -15px;
    }
}
@media only screen and (max-width:375px){
    .row{
        padding: 0 !important;
    }
    .col-1, .col-2, .col-3{
        padding: 0 !important;
        margin: 2px;
    }
}